@import './base.css';

a,
.green {
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: #b9b9b923;
    color: rgb(163, 163, 163);
    cursor:pointer;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
  }

  #app {
    width:100%
  }
}
